{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">myroomie.in</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{% url 'service' %}" class="nav-link">Services</a></li>

	          
           <!-- <li class="nav-item"><a href="properties.html" class="nav-link">Properties</a></li> -->
           <!-- <li class="nav-item"><a href="agent.html" class="nav-link">Agent</a></li> -->
	    	<!--  <li class="nav-item"><a href="{% url 'register'%}" class="nav-link">Register</a></li> -->
	          <li class="nav-item"><a href="{% url 'contact'%}" class="nav-link">Contact</a></li>
			</ul>
			<div>
				{% if user.is_authenticated%}
				Hello,{{user.first_name}} <br>
				<a href="{% url 'signout'%}"><button class="btn btn-primary btn-sm">Sign Out</button></a>
				{% else %}
				<a href="{% url 'logIn'%}"><button class="btn btn-primary btn-sm">Sign In</button></a>
				<a href="{% url 'register'%}"><button class="btn btn-primary btn-sm">Sign Up</button></a>
				{% endif %}
			</div>
	      </div>
	    </div>
	  </nav>